resources/sponge.png
resources/major.mp3
resources/image.png
resources/dung.png
resources/movie.ogv
resources/sponge_list.png
resources/human (1).png
resources/gul.png
resources/coke.png
resources/knife.png
resources/popcorn.png
resources/shaving.png
resources/jquery-3.7.1.js
resources/maru2.png